html,
body {
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
p {
	margin: 0;
	padding-bottom: 1rem;
}

#canvas {
	min-width: 1000px;
	min-height: 600px;
}
