html,
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
p {
	margin: 0;
	padding-bottom: 1rem;
}

#canvas {
	min-width: 1000px;
	min-height: 600px;
}

a {
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	color: #d33324;
}

a:hover,
a:focus {
	text-decoration: underline;
	color: #a00901;
}
