html,
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
p {
	margin: 0;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

#canvas {
	margin-bottom: 3em;
	min-width: 1000px;
	min-height: 600px;
}

a {
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	color: #d33324;
}

a:hover,
a:focus {
	text-decoration: underline;
	color: #a00901;
}

#tooltip {
	position: absolute;
	display: none;
	background-color: #ffffff;
	padding: 5px;
	border: 1px solid #000000;
	border-radius: 5px;
}
